:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.category-list {
  list-style: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

.category-list li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 6px;
  transition: background 0.3s;
}

.category-list li:hover {
  background: #e0e0e0;
}

.category-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.category-list li a:hover {
  color: #0070f3;
}
